<div class="w3-container w3-grey">
<h1>StaticPages#about</h1>
<p>Ruby on Rails is A web-application framework that includes 
everything needed to create database-backed web applications 
according to the Model-View-Controller (MVC) pattern.</p>
<br>
<p>http://rubyonrails.org/</p>
<br>
<p>https://www.w3schools.com/</p>
<br>
<p>Find me in app/views/static_pages/about.html.erb</p>
</div>