<!DOCTYPE html>
<html>
  <head>
    <title>Quote App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-light-blue">
    
      <ul>
      <a href="/static_pages/home" class="w3-btn w3-blue">Home</a>
      <a href="/quotes" class="w3-btn w3-red">Quotes</a>
      <a href="/static_pages/help" class="w3-btn w3-blue">Help</a>
      <a href="/static_pages/about" class="w3-btn w3-blue">About</a>
    </ul>
    
    <%= yield %>
  </body>
</html>
